.navbar {
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ecc94b;
	color: white;
	font-size: large;
	font-weight: bold;
	/* padding: 0.2rem calc((100vw - 1000px) / 2);
	z-index: 12; */
	flex: 1;
}

.nav-links {
	display: flex;
	@media screen and (max-width: 768px) {
		display: none;
	}
}
.nav-links li {
	list-style: none;
	padding: 2rem;
}

.link {
	text-decoration: none;

	display: flex;
	height: 100%;
	cursor: pointer;
	&.active {
		color: #4d4dff;
	}
}
